@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

span {
    font-family: "Fredericka the Great", serif !important;
    color: rgb(248, 7, 7);
}

body {
    overflow-X: hidden;
}

.carousel h5,
.carousel p {
    color: rgb(248, 247, 247);
    font-weight: 900;
    text-shadow: 1px 0px 0px #171616;
}


.header {
    background: url(../img/redwave.jpeg) no-repeat;
    background-size: 100%;
    height: fit-content;
    overflow: hidden;
    width: 100%;
    height: 99vh;
}



/* .header img {
    width: 250px !important;
    height: 250px !important;
} */

.card-img {
    overflow: hidden;

}

.card:hover img {
    transform: scale(1.1);
    transition: all 0.3s ease-in;
}

.btn-contianer {
    position: absolute;
    bottom: 0px;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;

}

.card .btn-contianer .btn {
    z-index: 2;
}

.card .btn-contianer .btn-2 {
    transform: translateX(24vh) !important;
}

.card .btn-contianer .btn-1 {
    transform: translatex(-30vw) !important;
}

.card:hover .btn-contianer .btn-1 {
    transform: translatex(0vw) !important;
    transition: all 0.3s ease-in-out;
}

.card:hover .btn-contianer .btn-2 {
    transform: translatex(0vw) !important;
    transition: all 0.3s ease-in-out;
}

.card {
    overflow: hidden;
    border: 1px solid #171616;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.0);
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

.card:hover .overlay {
    background-color: rgba(0, 0, 0, 0.5);
}


.contact-page input::placeholder {
    color: #0d0d0d !important;
    font-family: "Fredericka the Great", serif;
}

textarea::placeholder {
    color: #0d0d0d !important;
    font-family: "Fredericka the Great", serif;
}

footer {
    padding-left: 10px;
    overflow-x: hidden;

}

footer ul a:hover {
    color: #f90f0f;
    text-decoration: none;
}

@media (min-width: 320px) and (max-width:500px) {
    .main-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: fit-content;

    }

    header {
        display: flex;
        flex-direction: column !important;
        height: 650px !important;
        padding: 50px;

    }

    body {
        padding: 0px;
        overflow-X: hidden;
        width: 100% !important;

    }

    header .container-2 .img-1 {
        position: relative;
        left: -64px !important;
        top: 23px !important;
    }


    header .container-2 .img-2 {
        position: relative;
        left: 88px !important;
        top: -151px !important;
    }

    header .container-2 .img-3 {
        position: relative;
        left: -90px !important;
        top: -213px !important;
    }


    header .container-2 .img-4 {
        position: relative;
        left: 84px;
        bottom: 394px;
        display: none;
    }

    header .container-2 .img-5 {
        position: relative;
        left: 84px !important;
        top: -394px !important;
    }


    header .container-2 .img-6 {
        position: relative;
        top: 0px;
        left: 0px;
        display: none;
    }


}

@media (min-width:320px) and (max-width: 576px) {
    .contact-page {
        display: flex;
        flex-direction: column;
    }

    body {
        overflow-x: hidden;
        width: 100% !important;

    }

}

@media (min-width: 576px) and (max-width: 768px) {
    .contact-page {
        display: flex;
        flex-direction: column;
    }

    body {
        overflow-x: hidden;

    }


    .slide {
        width: 100%;
        height: 450px;
        margin-top: 80px;
    }
}


/*women page*/
body {
    overflow-x: hidden;
}

header .container-2 {
    position: relative;
    left: 50px;

}



header .container img {
    width: 200px;
    height: 200px;

}

header .container-2 .img-1 {
    position: relative;
    left: 500px;
    top: 40px;
}

header .container-2 .img-2 {
    position: relative;
    left: 50px;
    top: 40px;
}


header .container-2 .img-4 {
    position: relative;
    left: 100px;
    bottom: 130px;
}

header .container-2 .img-5 {
    position: relative;
    left: 30px;
    top: 0px;
}


header .container-2 .img-6 {
    position: relative;
    bottom: 40px;
}

/*media query*/

@media (min-width:500px) {
    .main-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: fit-content;

    }

    .container-1 {
        padding: 10px;
    }

    header .container img {
        width: 150px !important;
        height: 150px !important;

    }

    header {
        display: flex;
        flex-direction: column !important;
        height: 650px !important;
        padding: 50px;

    }

    body {
        padding: 0px;
        overflow-X: hidden;
        width: 100% !important;

    }

    header .container-2 .img-1 {
        position: relative;
        left: 0px !important;
        top: 10px !important;
    }


    header .container-2 .img-2 {
        position: relative;
        left: -19px !important;
        top: 14px !important;
    }

    header .container-2 .img-3 {
        position: relative;
        left: 0px !important;
        top: 0px !important;
    }


    header .container-2 .img-4 {
        position: relative;
        left: 84px;
        bottom: 394px;
        display: none;
    }

    header .container-2 .img-5 {
        position: relative;
        left: -25px !important;
        top: 9px !important;
    }


    header .container-2 .img-6 {
        position: relative;
        top: 0px;
        left: 0px;
        display: none;
    }

    iframe {
        width: 100% !important;
    }

}



@media (min-width: 576px) and (max-width: 768px) {
    .contact-page {
        display: flex;
        flex-direction: column;
    }

    body {
        overflow-x: hidden;

    }


    .slide {
        width: 100%;
        height: 450px;
        margin-top: 80px;
    }
}


@media (min-width: 500px) and (max-width: 576px) {
    .main-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: fit-content;

    }

    header {
        display: flex;
        flex-direction: column !important;
        height: 650px !important;
        padding: 50px;

    }

    body {
        padding: 0px;
        overflow-X: hidden;
        width: 100% !important;

    }

    header .container-2 {
        position: relative;

    }

    .container-1 {
        padding: 10px 0px 10px 10px;
    }

    .container-2 {
        margin: 0px;
        padding: 0px;
        margin-top: 14px;
    }


    header .container img {
        width: 180px !important;
        height: 180px !important;
    }

    header .container-2 .img-1 {
        position: relative;
        left: 12px;
        top: 0px;
    }


    header .container-2 .img-2 {
        position: relative;
        left: -13px;
        top: 10px;
    }

    header .container-2 .img-3 {
        position: relative;
        left: 10 px;
        top: 0px;
    }


    header .container-2 .img-4 {
        position: relative;
        left: 0px;
        bottom: 0 px;
        display: none;
    }

    header .container-2 .img-5 {
        position: relative;
        left: -33px;
        top: -10px;
    }


    header .container-2 .img-6 {
        position: relative;
        top: 0px;
        left: 0px;
        display: none;
    }


    iframe {
        width: 100% !important;
    }

    .ifram-container {
        width: 100% !important;
        height: 300px !important;
        position: relative;
        left: 0px !important;

    }

    .contact-page {
        display: flex;
        flex-direction: column;
    }

    body {
        overflow-x: hidden;
        width: 100% !important;

    }

}

@media (min-width: 577px) and (max-width: 748px) {
    .main-container {
        flex-direction: column;
        align-items: center;
    }

    body {
        padding: 0px;
        overflow-x: hidden;
        margin: 0px !important;
    }

    header .container-2 {
        position: relative;
        left: 50px;
        top: 50px;

    }

    header .container-2 .img {
        width: 40px !important;
        height: 40px !important;
    }

    header .container-2 .img-1 {
        position: relative;
        left: 80px;
        top: 40px;
    }


    header .container-2 .img-2 {
        position: relative;
        left: 50px;
        top: -20px;
    }

    header .container-2 .img-3 {
        position: relative;
        left: -80px;
        top: -130px;
    }


    header .container-2 .img-4 {
        position: relative;
        left: -100px;
        bottom: 13px;
    }

    header .container-2 .img-5 {
        position: relative;
        left: -80px;
        top: -190px;
    }


    header .container-2 .img-6 {

        position: relative;
        top: -280px;
        left: 50px;
    }

    footer {
        overflow-x: hidden;
    }

}
